<div class="d-flex flex-column main-container">
  <h2 class="align-self-center">Welcome to our sports magazine</h2>
  <div class="sub-container mt-4">
    <% @categories.each do |category| %>
      <a href="javascript:void(0)"><%= category.name %></a>
    <% end %>
  </div>
</div>